*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: palevioletred;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
   width: 30rem;
 /*  height: 15rem;*/
   padding: 30px;
   font-size: 40px;
   border-radius: 10px;
   background-color: aliceblue;
   text-align: center;
}
button{
    width: 100%;
    background-color: grey;
    color: antiquewhite;
    display: block;
    border: none;
    border-radius: 7px;
    font-size: 35px;
}